html {
    -webkit-text-size-adjust: none
}

.FootNav {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #f8f8f8;
    opacity: 0.8;
    justify-content: space-around;
}

.footnav-Found {
    width: 20%;
    padding: 5px
}

.found-image {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;

}

.found-img {
    width: 1.5rem;
    height: 1.5rem;
}

.found-text {
    width: 2rem;
}

.found-text-span {
    font-size: 12px;
}

.footnav-Video {
    width: 20%;
}

.footer-add {
    background-color: red;
    border-radius: 50%;
}